---
http_interactions:
- request:
    method: get
    uri: http://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/7/commits?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/7/commits?page=1&per_page=100
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 27 Aug 2017 19:47:15 GMT
- request:
    method: get
    uri: https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/7/commits?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1503866476'
      Etag:
      - '"a0e20c216bd165659a66a7c4efea8c92"'
      Last-Modified:
      - Fri, 18 Aug 2017 15:53:51 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"sha":"570b7b5b0029f0c7e9506a0dd533a7d10cdce530","commit":{"author":{"name":"William
        Criss","email":"wcriss44@gmail.com","date":"2017-04-14T02:28:56Z"},"committer":{"name":"William
        Criss","email":"wcriss44@gmail.com","date":"2017-04-14T02:28:56Z"},"message":"Add
        /android case","tree":{"sha":"69da01de7b4f74f8165cef8a8d1155d8c6c75875","url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/git/trees/69da01de7b4f74f8165cef8a8d1155d8c6c75875"},"url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/git/commits/570b7b5b0029f0c7e9506a0dd533a7d10cdce530","comment_count":0},"url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/commits/570b7b5b0029f0c7e9506a0dd533a7d10cdce530","html_url":"https://github.com/OperationCode/operationcode_slashbot/commit/570b7b5b0029f0c7e9506a0dd533a7d10cdce530","comments_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/commits/570b7b5b0029f0c7e9506a0dd533a7d10cdce530/comments","author":{"login":"wcriss44","id":24770046,"avatar_url":"https://avatars3.githubusercontent.com/u/24770046?v=4","gravatar_id":"","url":"https://api.github.com/users/wcriss44","html_url":"https://github.com/wcriss44","followers_url":"https://api.github.com/users/wcriss44/followers","following_url":"https://api.github.com/users/wcriss44/following{/other_user}","gists_url":"https://api.github.com/users/wcriss44/gists{/gist_id}","starred_url":"https://api.github.com/users/wcriss44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wcriss44/subscriptions","organizations_url":"https://api.github.com/users/wcriss44/orgs","repos_url":"https://api.github.com/users/wcriss44/repos","events_url":"https://api.github.com/users/wcriss44/events{/privacy}","received_events_url":"https://api.github.com/users/wcriss44/received_events","type":"User","site_admin":false},"committer":{"login":"wcriss44","id":24770046,"avatar_url":"https://avatars3.githubusercontent.com/u/24770046?v=4","gravatar_id":"","url":"https://api.github.com/users/wcriss44","html_url":"https://github.com/wcriss44","followers_url":"https://api.github.com/users/wcriss44/followers","following_url":"https://api.github.com/users/wcriss44/following{/other_user}","gists_url":"https://api.github.com/users/wcriss44/gists{/gist_id}","starred_url":"https://api.github.com/users/wcriss44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wcriss44/subscriptions","organizations_url":"https://api.github.com/users/wcriss44/orgs","repos_url":"https://api.github.com/users/wcriss44/repos","events_url":"https://api.github.com/users/wcriss44/events{/privacy}","received_events_url":"https://api.github.com/users/wcriss44/received_events","type":"User","site_admin":false},"parents":[{"sha":"933f4774321290f296af2aad84f23dab511e36d7","url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/commits/933f4774321290f296af2aad84f23dab511e36d7","html_url":"https://github.com/OperationCode/operationcode_slashbot/commit/933f4774321290f296af2aad84f23dab511e36d7"}]},{"sha":"ee165464a40ee2a53938331b3d0c993b8ac29334","commit":{"author":{"name":"William
        Criss","email":"wcriss44@gmail.com","date":"2017-04-14T02:57:03Z"},"committer":{"name":"William
        Criss","[...]
