---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=78705&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "78705",
                       "short_name" : "78705",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Austin",
                       "short_name" : "Austin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Travis County",
                       "short_name" : "Travis County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Texas",
                       "short_name" : "TX",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Austin, TX 78705, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.3151289,
                          "lng" : -97.71956589999999
                       },
                       "southwest" : {
                          "lat" : 30.2799671,
                          "lng" : -97.7544899
                       }
                    },
                    "location" : {
                       "lat" : 30.2961708,
                       "lng" : -97.73895429999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.3151289,
                          "lng" : -97.71956589999999
                       },
                       "southwest" : {
                          "lat" : 30.2799671,
                          "lng" : -97.7544899
                       }
                    }
                 },
                 "place_id" : "ChIJbXqLfIG1RIYR-Kx8g4zAkEo",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 05 Feb 2018 23:07:10 GMT
[...]
