---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=12345&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
<<<<<<< HEAD
      - Fri, 09 Mar 2018 23:26:52 GMT
      Pragma:
      - no-cache
      Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      Cache-Control:
      - no-cache, must-revalidate
=======
      - Fri, 09 Mar 2018 01:23:19 GMT
      Expires:
      - Sat, 10 Mar 2018 01:23:19 GMT
      Cache-Control:
      - public, max-age=86400
>>>>>>> 1c2be9cf1ae48b8c6100614cb115b263fafda6cf
      Access-Control-Allow-Origin:
      - "*"
      Server:
      - mafe
      Content-Length:
<<<<<<< HEAD
      - '224'
=======
      - '488'
>>>>>>> 1c2be9cf1ae48b8c6100614cb115b263fafda6cf
      X-Xss-Protection:
      - 1; mode=block
      X-Frame-Options:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: |
        {
<<<<<<< HEAD
           "error_message" : "You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Fri, 09 Mar 2018 23:26:52 GMT
=======
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "12345",
                       "short_name" : "12345",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Schenectady",
                       "short_name" : "Schenectady",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Rotterdam",
                       "short_name" : "Rotterdam",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Schenectady County",
                       "short_name" : "Schenectady County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Schenectady, NY 12345, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 42.8140012,
                       "lng" : -73.9814578
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.8153501802915,
                          "lng" : -73.98010881970849
                       },
                       "southwest" : {
                          "lat" : 42.8126522197085,
                          "lng" : -73.9828067802915
                       }
                    }
                 },
                 "place_id" : "ChIJy_THIQZu3okR5Vhd3NrTQI8",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 Mar 2018 01:23:19 GMT
>>>>>>> 1c2be9cf1ae48b8c6100614cb115b263fafda6cf
recorded_with: VCR 3.0.3
