---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=66666&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "66666",
                       "short_name" : "66666",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Najran",
                       "short_name" : "Najran",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Saudi Arabia",
                       "short_name" : "SA",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "66666, Saudi Arabia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 18.6329267,
                          "lng" : 45.3836328
                       },
                       "southwest" : {
                          "lat" : 18.5397849,
                          "lng" : 45.2868491
                       }
                    },
                    "location" : {
                       "lat" : 18.6009506,
                       "lng" : 45.3463405
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 18.6329267,
                          "lng" : 45.3836328
                       },
                       "southwest" : {
                          "lat" : 18.5397849,
                          "lng" : 45.2868491
                       }
                    }
                 },
                 "place_id" : "ChIJRbFeGzXAAj4RaKQ9O2bbK8g",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 Mar 2018 01:23:19 GMT
recorded_with: VCR 3.0.3
