---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=11772&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "11772",
                       "short_name" : "11772",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Patchogue",
                       "short_name" : "Patchogue",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Brookhaven",
                       "short_name" : "Brookhaven",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Suffolk County",
                       "short_name" : "Suffolk County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Patchogue, NY 11772, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.797294,
                          "lng" : -72.89495889999999
                       },
                       "southwest" : {
                          "lat" : 40.68121989999999,
                          "lng" : -73.0459329
                       }
                    },
                    "location" : {
                       "lat" : 40.7758652,
                       "lng" : -72.9814877
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.797294,
                          "lng" : -72.9508589
                       },
                       "southwest" : {
                          "lat" : 40.742385,
                          "lng" : -73.0459329
                       }
                    }
                 },
                 "place_id" : "ChIJCyOtB1ZI6IkRTkbLKB1fwfQ",
                 "postcode_localities" : [ "East Patchogue", "Patchogue" ],
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 05 Feb 2018 23:07:13 GMT
recorded_with: VCR 3.0.3
