---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=80112&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "80112",
                       "short_name" : "80112",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Englewood",
                       "short_name" : "Englewood",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Englewood, CO 80112, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.62408689999999,
                          "lng" : -104.791368
                       },
                       "southwest" : {
                          "lat" : 39.53471589999999,
                          "lng" : -104.923045
                       }
                    },
                    "location" : {
                       "lat" : 39.5835785,
                       "lng" : -104.8571368
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.62408689999999,
                          "lng" : -104.791368
                       },
                       "southwest" : {
                          "lat" : 39.53471589999999,
                          "lng" : -104.923045
                       }
                    }
                 },
                 "place_id" : "ChIJV6Vm65GFbIcR6nFrHQASDWk",
                 "postcode_localities" : [ "Centennial", "Englewood", "Greenwood Village" ],
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 01 Apr 2018 18:47:35 GMT
recorded_with: VCR 3.0.3
