sudo: false
language: ruby
bundler_args: "--jobs 7"

cache:
  bundler: true

services:
  - redis-server
  - postgresql

env:
  secure: "AmnH0r1tF9HIVsUfhoJHzCEqTZz3TU4FUd2D+T0XzSDbz6kUSubmP4agYRsJI1xPTwegqSonwL0QGAlaIKEssz6rqAqBSvzHC95XvghP1HVVp2/j8vvFaJbpWsnTQ25FbMgDD89wHRKRs0qk2Ui0zi+CtNFylj83D13yoVys6C0="

before_script:
  - psql -c 'create database operationcode_test;' -U postgres

script:
  - bundle exec rails db:migrate RAILS_ENV=test
  - bundle exec rake test
  - bundle exec rubocop
