---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/some_random_id/Mentor%20Request
    body:
      encoding: UTF-8
      string: '{"fields":{"Slack User":"test_case_1","Email":"agreatperson@email.com","Service":["rec891lUSSaXM4qGC"],"Skillsets":["Java"],"Additional
        Details":"Some test description.","Mentor Requested":["recqeVhDDJU5cY8TX"]}}'
    headers:
      Authorization:
      - Bearer some_random_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13e-NrjauUnRwG+w1/mACLHDW1BJjs0"
    body:
      encoding: UTF-8
      string: '{"id":"recMAtFD28bfgdvjg","fields":{"Slack User":"test_case_1","Email":"agreatperson@email.com","Service":["rec891lUSSaXM4qGC"],"Skillsets":["Java"],"Additional
        Details":"Some test description.","Mentor Requested":["recqeVhDDJU5cY8TX"],"Created
        At":"2018-08-13T15:22:08.000Z"},"createdTime":"2018-08-13T15:22:08.476Z"}'
  recorded_at: Mon, 13 Aug 2018 15:22:08 GMT
recorded_with: VCR 3.0.3
