---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/some_random_id/Mentor%20Request
    body:
      encoding: UTF-8
      string: '{"fields":{"Slack User":"test_case_1","Email":"test@example.com","Service":["rec891lUSSaXM4qGC"],"Skillsets":["Java","Study
        Help","Web Development (Front-end)"],"Additional Details":"Some test description.","Mentor
        Requested":["recqeVhDDJU5cY8TX"]}}'
    headers:
      Authorization:
      - Bearer keyZCwmaMvZvNLULQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"163-M/HK047xTstzRUEb5B4PTv0RDuQ"
    body:
      encoding: UTF-8
      string: '{"id":"recqPcCumJ82y8B93","fields":{"Slack User":"test_case_1","Email":"test@example.com","Service":["rec891lUSSaXM4qGC"],"Skillsets":["Web
        Development (Front-end)","Java","Study Help"],"Additional Details":"Some test
        description.","Mentor Requested":["recqeVhDDJU5cY8TX"],"Created At":"2018-08-13T17:20:42.000Z"},"createdTime":"2018-08-13T17:20:42.595Z"}'
  recorded_at: Mon, 13 Aug 2018 17:20:42 GMT
recorded_with: VCR 3.0.3
