---
http_interactions:
- request:
    method: get
    uri: http://api.github.com/repos/OperationCode/operationcode/pulls/753?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.github.com/repos/OperationCode/operationcode/pulls/753?per_page=100
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 27 Aug 2017 19:41:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/OperationCode/operationcode/pulls/753?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1503866476'
      Etag:
      - '"e5a170263e9471d68d341e118defc6b2"'
      Last-Modified:
      - Thu, 24 Aug 2017 04:18:34 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/OperationCode/operationcode/pulls/753","id":128533020,"html_url":"https://github.com/OperationCode/operationcode/pull/753","diff_url":"https://github.com/OperationCode/operationcode/pull/753.diff","patch_url":"https://github.com/OperationCode/operationcode/pull/753.patch","issue_url":"https://api.github.com/repos/OperationCode/operationcode/issues/753","number":753,"state":"closed","locked":false,"title":"Revert
        \"waffle.io Badge\"","user":{"login":"hollomancer","id":9288648,"avatar_url":"https://avatars3.githubusercontent.com/u/9288648?v=4","gravatar_id":"","url":"https://api.github.com/users/hollomancer","html_url":"https://github.com/hollomancer","followers_url":"https://api.github.com/users/hollomancer/followers","following_url":"https://api.github.com/users/hollomancer/following{/other_user}","gists_url":"https://api.github.com/users/hollomancer/gists{/gist_id}","starred_url":"https://api.github.com/users/hollomancer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hollomancer/subscriptions","organizations_url":"https://api.github.com/users/hollomancer/orgs","repos_url":"https://api.github.com/users/hollomancer/repos","events_url":"https://api.github.com/users/hollomancer/events{/privacy}","received_events_url":"https://api.github.com/users/hollomancer/received_events","type":"User","site_admin":false},"body":"Reverts
        OperationCode/operationcode#752","created_at":"2017-07-02T20:32:04Z","updated_at":"2017-07-02T20:32:16Z","closed_at":"2017-07-02T20:32:11Z","merged_at":"2017-07-02T20:32:11Z","merge_commit_sha":"3900a914fb5bc8017bd671562cfb373234269405","assignee":{"login":"hollomancer","id":9288648,"avatar_url":"https://avatars3.githubusercontent.com/u/9288648?v=4","gravatar_id":"","url":"https://api.github.com/users/hollomancer","html_url":"https://github.com/hollomancer","followers_url":"https://api.github.com/users/hollomancer/followers","following_url":"https://api.github.com/users/hollomancer/following{/other_user}","gists_url":"https://api.github.com/users/hollomancer/gists{/gist_id}","starred_url":"https://api.github.com/users/hollomancer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hollomancer/subscriptions","organizations_url":"https://api.github.com/users/hollomancer/orgs","repos_url":"https://api.github.com/users/hollomancer/repos","events_url":"https://api.github.com/users/hollomancer/events{/privacy}","received_events_url":"https://api.github.com/users/hollomancer/received_events","type":"User","site_admin":false},"assignees":[{"login":"hollomancer","id":9288648,"avatar_url":"https://avatars3.githubusercontent.com/u/9288648?v=4","gravatar_id":"","url":"https://api.github.com/users/hollomancer","html_url":"https://github.com/hollomancer","followers_url":"https://api.github.com/users/hollomancer/followers","following_url":"https://api.github.com/users/hollomancer/following{/other_user}","gists_url":"https://api.github.com/users/hollomancer/gists{/gist_id}","starred_url":"https://api.github.com/users/hollomancer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hollomancer/subscriptions","organizations_url":"https://api.github.com/users/hollomancer/orgs","repos_url":"https://api.github.com/users/hollomancer/repos","events_url":"https://api.github.com/users/hollomancer/events{/privacy}","received_events_url":"https://api.github.com/users/hollomancer/received_events","type":"User","site_admin":false}],"requested_reviewers":[],"milestone":null,"commits_url":"https://api.github.com/repos/OperationCode/operationcode/pulls/753/commits","review_comments_url":"https://api.github.com/repos/OperationCode/operationcode/pulls/753/comments","review_comment_url":"https://api.github.com/repos/OperationCode/operationcode/pulls/comments{/number}","comments_url":"https://api.github.com/repos/OperationCode/operationcode/issues/753/comments","statuses_url":"https://api.github.com/repos/OperationCode/operationcode/statuses/3d4ff7164a33fa1c6006d34942872d1c22594b99","head":{"label":"OperationCode:revert-752-master","ref":"revert-752-master","sha":"3d4ff7164a33fa1c6006d34942872d1c22594b99","user":{"login":"OperationCode","id":10479364,"avatar_url":"https://avatars3.githubusercontent.com/u/10479364?v=4","gravatar_id":"","url":"https://api.github.com/users/OperationCode","html_url":"https://github.com/OperationCode","followers_url":"https://api.github.com/users/OperationCode/followers","following_url":"https://api.github.com/users/OperationCode/following{/other_user}","gists_url":"https://api.github.com/users/OperationCode/gists{/gist_id}","starred_url":"https://api.github.com/users/OperationCode/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/OperationCode/subscriptions","organizations_url":"https://api.github.com/users/OperationCode/orgs","repos_url":"https://api.github.com/users/OperationCode/repos","events_url":"https://api.github.com/users/OperationCode/events{/privacy}","received_events_url":"https://api.github.com/users/OperationCode/received_events","type":"Organization","site_admin":false},"repo":{"id":14827361,"name":"operationcode","full_name":"OperationCode/operationcode","owner":{"login":"OperationCode","id":10479364,"avatar_url":"https://avatars3.githubusercontent.com/u/10479364?v=4","gravatar_id":"","url":"https://api.github.com/users/OperationCode","html_url":"https://github.com/OperationCode","followers_url":"https://api.github.com/users/OperationCode/followers","following_url":"https://api.github.com/users/OperationCode/following{/other_user}","gists_url":"https://api.github.com/users/OperationCode/gists{/gist_id}","starred_url":"https://api.github.com/users/OperationCode/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/OperationCode/subscriptions","organizations_url":"https://api.github.com/users/OperationCode/orgs","repos_url":"https://api.github.com/users/OperationCode/repos","events_url":"https://api.github.com/users/OperationCode/events{/privacy}","received_events_url":"https://api.github.com/users/OperationCode/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/OperationCode/operationcode","description":"Our
        open source website. We''re on a mission to help the military community learn
        software development, enter the tech industry, and code the future.","fork":false,"url":"https://api.github.com/repos/OperationCode/operationcode","forks_url":"https://api.github.com/repos/OperationCode/operationcode/forks","keys_url":"https://api.github.com/repos/OperationCode/operationcode/keys{/key_id}","collaborators_url":"https://api.github.com/repos/OperationCode/operationcode/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/OperationCode/operationcode/teams","hooks_url":"https://api.github.com/repos/OperationCode/operationcode/hooks","issue_events_url":"https://api.github.com/repos/OperationCode/operationcode/issues/events{/number}","events_url":"https://api.github.com/repos/OperationCode/operationcode/events","assignees_url":"https://api.github.com/repos/OperationCode/operationcode/assignees{/user}","branches_url":"https://api.github.com/repos/OperationCode/operationcode/branches{/branch}","tags_url":"https://api.github.com/repos/OperationCode/operationcode/tags","blobs_url":"https://api.github.com/repos/OperationCode/operationcode/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/OperationCode/operationcode/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/OperationCode/operationcode/git/refs{/sha}","trees_url":"https://api.github.com/repos/OperationCode/operationcode/git/trees{/sha}","statuses_url":"https://api.github.com/repos/OperationCode/operationcode/statuses/{sha}","languages_url":"https://api.github.com/repos/OperationCode/operationcode/languages","stargazers_url":"https://api.github.com/repos/OperationCode/operationcode/stargazers","contributors_url":"https://api.github.com/repos/OperationCode/operationcode/contributors","subscribers_url":"https://api.github.com/repos/OperationCode/operationcode/subscribers","subscription_url":"https://api.github.com/repos/OperationCode/operationcode/subscription","commits_url":"https://api.github.com/repos/OperationCode/operationcode/commits{/sha}","git_commits_url":"https://api.github.com/repos/OperationCode/operationcode/git/commits{/sha}","comments_url":"https://api.github.com/repos/OperationCode/operationcode/comments{/number}","issue_comment_url":"https://api.github.com/repos/OperationCode/operationcode/issues/comments{/number}","contents_url":"https://api.github.com/repos/OperationCode/operationcode/contents/{+path}","compare_url":"https://api.github.com/repos/OperationCode/operationcode/compare/{base}...{head}","merges_url":"https://api.github.com/repos/OperationCode/operationcode/merges","archive_url":"https://api.github.com/repos/OperationCode/operationcode/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/OperationCode/operationcode/downloads","issues_url":"https://api.github.com/repos/OperationCode/operationcode/issues{/number}","pulls_url":"https://api.github.com/repos/OperationCode/operationcode/pulls{/number}","milestones_url":"https://api.github.com/repos/OperationCode/operationcode/milestones{/number}","notifications_url":"https://api.github.com/repos/OperationCode/operationcode/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/OperationCode/operationcode/labels{/name}","releases_url":"https://api.github.com/repos/OperationCode/operationcode/releases{/id}","deployments_url":"https://api.github.com/repos/OperationCode/operationcode/deployments","created_at":"2013-11-30T19:54:59Z","updated_at":"2017-08-24T05:55:07Z","pushed_at":"2017-08-25T14:09:25Z","git_url":"git://github.com/OperationCode/operationcode.git","ssh_url":"git@github.com:OperationCode/operationcode.git","clone_url":"https://github.com/OperationCode/operationcode.git","svn_url":"https://github.com/OperationCode/operationcode","homepage":"https://www.operationcode.org/","size":27708,"stargazers_count":233,"watchers_count":233,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":206,"mirror_url":null,"open_issues_count":13,"forks":206,"open_issues":13,"watchers":233,"default_branch":"master"}},"base":{"label":"OperationCode:master","ref":"master","sha":"ac38898ddeae5ddd17cdb6addba1b52fc6da923a","user":{"login":"OperationCode","id":10479364,"avatar_url":"https://avatars3.githubusercontent.com/u/10479364?v=4","gravatar_id":"","url":"https://api.github.com/users/OperationCode","html_url":"https://github.com/OperationCode","followers_url":"https://api.github.com/users/OperationCode/followers","following_url":"https://api.github.com/users/OperationCode/following{/other_user}","gists_url":"https:/[...]
