<p>
  Welcome to Operation Code!<br />
</p>

<p>
  Be on the lookout for an email invite to the <a href="https://operation-code.slack.com">Operation Code Slack community</a>. Slack is where we communicate online in real-time to ask questions, collaborate, and share information. It's a pivotal aspect of our community! If you've never used Slack before, consider watching this <a href="https://www.youtube.com/watch?v=9RJZMSsH7-g">instructional video</a> on using the application. <br />
</p>

<p>
  You've just joined a community of 3000+ software developers, veterans, and military spouses, who are all looking to further their skills and careers in tech! We are a decentralized organization, and we work both online (via Slack) and in <a href="https://www.meetup.com/pro/operationcode/">local chapters across the country.</a> We highly recommend giving yourself an introduction in the #general channel on Slack, and to sign up to go to your next local meetup! An example could be: <br />
  "Hi all. My name is David. I'm from Washington and I'm interested in web development!"
  Please read our <a href="http://op.co.de/code-of-conduct">Code of Conduct</a>, as well.
</p>

<p>
  Are you interested in helping Operation Code's website through code or design, and building your experience and portfolio? We're open source and love onboarding new developers! <a href="https://github.com/OperationCode/START_HERE">Read more here</a>, and join the #oc-projects channel on Slack - feel free to ask about anything.
</p>

<p>Again, welcome aboard, and don't forget to follow and share Operation Code on <a href="https://twitter.com/operation_code">Twitter</a> and <a href="https://facebook.com/operationcode.org">Facebook</a>.</p>

<p>
  Cheers, and keep coding,<br />
  <p><a href="mailto:staff@operationcode.org">the Operation Code team</a> :)<br />
</p>

<p>P.S. - If you do not receive an invite from Slack within 24 hours, please <a href="mailto:tech@operationcode.org">email our support team</a>, or ping us on Twitter at @operation_code.</p>
