---
http_interactions:
- request:
    method: get
    uri: http://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/6?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/6?per_page=100
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 27 Aug 2017 19:47:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/6?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1503866476'
      Etag:
      - '"5ebaf0b351583de061bdbfb9a3c6594b"'
      Last-Modified:
      - Thu, 24 Aug 2017 04:18:34 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/6","id":114724523,"html_url":"https://github.com/OperationCode/operationcode_slashbot/pull/6","diff_url":"https://github.com/OperationCode/operationcode_slashbot/pull/6.diff","patch_url":"https://github.com/OperationCode/operationcode_slashbot/pull/6.patch","issue_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/issues/6","number":6,"state":"closed","locked":false,"title":"Add
        OpenCollective donation CTA","user":{"login":"hollomancer","id":9288648,"avatar_url":"https://avatars3.githubusercontent.com/u/9288648?v=4","gravatar_id":"","url":"https://api.github.com/users/hollomancer","html_url":"https://github.com/hollomancer","followers_url":"https://api.github.com/users/hollomancer/followers","following_url":"https://api.github.com/users/hollomancer/following{/other_user}","gists_url":"https://api.github.com/users/hollomancer/gists{/gist_id}","starred_url":"https://api.github.com/users/hollomancer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hollomancer/subscriptions","organizations_url":"https://api.github.com/users/hollomancer/orgs","repos_url":"https://api.github.com/users/hollomancer/repos","events_url":"https://api.github.com/users/hollomancer/events{/privacy}","received_events_url":"https://api.github.com/users/hollomancer/received_events","type":"User","site_admin":false},"body":"","created_at":"2017-04-07T00:51:43Z","updated_at":"2017-04-07T01:47:58Z","closed_at":"2017-04-07T01:47:58Z","merged_at":"2017-04-07T01:47:58Z","merge_commit_sha":"933f4774321290f296af2aad84f23dab511e36d7","assignee":null,"assignees":[],"requested_reviewers":[{"login":"mbach04","id":11529845,"avatar_url":"https://avatars3.githubusercontent.com/u/11529845?v=4","gravatar_id":"","url":"https://api.github.com/users/mbach04","html_url":"https://github.com/mbach04","followers_url":"https://api.github.com/users/mbach04/followers","following_url":"https://api.github.com/users/mbach04/following{/other_user}","gists_url":"https://api.github.com/users/mbach04/gists{/gist_id}","starred_url":"https://api.github.com/users/mbach04/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mbach04/subscriptions","organizations_url":"https://api.github.com/users/mbach04/orgs","repos_url":"https://api.github.com/users/mbach04/repos","events_url":"https://api.github.com/users/mbach04/events{/privacy}","received_events_url":"https://api.github.com/users/mbach04/received_events","type":"User","site_admin":false}],"milestone":null,"commits_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/6/commits","review_comments_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/6/comments","review_comment_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/comments{/number}","comments_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/issues/6/comments","statuses_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/statuses/0eb6352bf30b71b31f3059ac94340b3953fbb369","head":{"label":"hollomancer:master","ref":"master","sha":"0eb6352bf30b71b31f3059ac94340b3953fbb369","user":{"login":"hollomancer","id":9288648,"avatar_url":"https://avatars3.githubusercontent.com/u/9288648?v=4","gravatar_id":"","url":"https://api.github.com/users/hollomancer","html_url":"https://github.com/hollomancer","followers_url":"https://api.github.com/users/hollomancer/followers","following_url":"https://api.github.com/users/hollomancer/following{/other_user}","gists_url":"https://api.github.com/users/hollomancer/gists{/gist_id}","starred_url":"https://api.github.com/users/hollomancer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hollomancer/subscriptions","organizations_url":"https://api.github.com/users/hollomancer/orgs","repos_url":"https://api.github.com/users/hollomancer/repos","events_url":"https://api.github.com/users/hollomancer/events{/privacy}","received_events_url":"https://api.github.com/users/hollomancer/received_events","type":"User","site_admin":false},"repo":{"id":87488502,"name":"operationcode_slashbot","full_name":"hollomancer/operationcode_slashbot","owner":{"login":"hollomancer","id":9288648,"avatar_url":"https://avatars3.githubusercontent.com/u/9288648?v=4","gravatar_id":"","url":"https://api.github.com/users/hollomancer","html_url":"https://github.com/hollomancer","followers_url":"https://api.github.com/users/hollomancer/followers","following_url":"https://api.github.com/users/hollomancer/following{/other_user}","gists_url":"https://api.github.com/users/hollomancer/gists{/gist_id}","starred_url":"https://api.github.com/users/hollomancer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hollomancer/subscriptions","organizations_url":"https://api.github.com/users/hollomancer/orgs","repos_url":"https://api.github.com/users/hollomancer/repos","events_url":"https://api.github.com/users/hollomancer/events{/privacy}","received_events_url":"https://api.github.com/users/hollomancer/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/hollomancer/operationcode_slashbot","description":"Slack
        bot for handling slash commands","fork":true,"url":"https://api.github.com/repos/hollomancer/operationcode_slashbot","forks_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/forks","keys_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/teams","hooks_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/hooks","issue_events_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/issues/events{/number}","events_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/events","assignees_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/assignees{/user}","branches_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/branches{/branch}","tags_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/tags","blobs_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/git/refs{/sha}","trees_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/statuses/{sha}","languages_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/languages","stargazers_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/stargazers","contributors_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/contributors","subscribers_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/subscribers","subscription_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/subscription","commits_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/commits{/sha}","git_commits_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/git/commits{/sha}","comments_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/comments{/number}","issue_comment_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/issues/comments{/number}","contents_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/contents/{+path}","compare_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/merges","archive_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/downloads","issues_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/issues{/number}","pulls_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/pulls{/number}","milestones_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/milestones{/number}","notifications_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/labels{/name}","releases_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/releases{/id}","deployments_url":"https://api.github.com/repos/hollomancer/operationcode_slashbot/deployments","created_at":"2017-04-07T00:46:27Z","updated_at":"2017-04-07T00:46:29Z","pushed_at":"2017-04-07T00:50:29Z","git_url":"git://github.com/hollomancer/operationcode_slashbot.git","ssh_url":"git@github.com:hollomancer/operationcode_slashbot.git","clone_url":"https://github.com/hollomancer/operationcode_slashbot.git","svn_url":"https://github.com/hollomancer/operationcode_slashbot","homepage":null,"size":4618,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"OperationCode:master","ref":"master","sha":"ad07c5181a06d45228aee9f33ccc9831c81f514f","user":{"login":"OperationCode","id":10479364,"avatar_url":"https://avatars3.githubusercontent.com/u/10479364?v=4","gravatar_id":"","url":"https://api.github.com/users/OperationCode","html_url":"https://github.com/OperationCode","followers_url":"https://api.github.com/users/OperationCode/followers","following_url":"https://api.github.com/users/OperationCode/following{/other_user}","gists_url":"https:/[...]
