---
http_interactions:
- request:
    method: get
    uri: http://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/7?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/7?per_page=100
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 27 Aug 2017 19:47:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/7?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1503866476'
      Etag:
      - '"a9034c0d498d772e9e4e1f17c45659f3"'
      Last-Modified:
      - Fri, 18 Aug 2017 15:53:51 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/7","id":115875783,"html_url":"https://github.com/OperationCode/operationcode_slashbot/pull/7","diff_url":"https://github.com/OperationCode/operationcode_slashbot/pull/7.diff","patch_url":"https://github.com/OperationCode/operationcode_slashbot/pull/7.patch","issue_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/issues/7","number":7,"state":"closed","locked":false,"title":"Add
        /android case","user":{"login":"wcriss44","id":24770046,"avatar_url":"https://avatars3.githubusercontent.com/u/24770046?v=4","gravatar_id":"","url":"https://api.github.com/users/wcriss44","html_url":"https://github.com/wcriss44","followers_url":"https://api.github.com/users/wcriss44/followers","following_url":"https://api.github.com/users/wcriss44/following{/other_user}","gists_url":"https://api.github.com/users/wcriss44/gists{/gist_id}","starred_url":"https://api.github.com/users/wcriss44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wcriss44/subscriptions","organizations_url":"https://api.github.com/users/wcriss44/orgs","repos_url":"https://api.github.com/users/wcriss44/repos","events_url":"https://api.github.com/users/wcriss44/events{/privacy}","received_events_url":"https://api.github.com/users/wcriss44/received_events","type":"User","site_admin":false},"body":"Added
        a /android case for upcoming android app. ","created_at":"2017-04-14T02:34:30Z","updated_at":"2017-04-14T04:07:28Z","closed_at":"2017-04-14T04:07:28Z","merged_at":"2017-04-14T04:07:27Z","merge_commit_sha":"9012251db9b82c3ad707df7042b5f312894bbe4d","assignee":null,"assignees":[],"requested_reviewers":[],"milestone":null,"commits_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/7/commits","review_comments_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/7/comments","review_comment_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/pulls/comments{/number}","comments_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/issues/7/comments","statuses_url":"https://api.github.com/repos/OperationCode/operationcode_slashbot/statuses/ee165464a40ee2a53938331b3d0c993b8ac29334","head":{"label":"wcriss44:android_slashbot","ref":"android_slashbot","sha":"ee165464a40ee2a53938331b3d0c993b8ac29334","user":{"login":"wcriss44","id":24770046,"avatar_url":"https://avatars3.githubusercontent.com/u/24770046?v=4","gravatar_id":"","url":"https://api.github.com/users/wcriss44","html_url":"https://github.com/wcriss44","followers_url":"https://api.github.com/users/wcriss44/followers","following_url":"https://api.github.com/users/wcriss44/following{/other_user}","gists_url":"https://api.github.com/users/wcriss44/gists{/gist_id}","starred_url":"https://api.github.com/users/wcriss44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wcriss44/subscriptions","organizations_url":"https://api.github.com/users/wcriss44/orgs","repos_url":"https://api.github.com/users/wcriss44/repos","events_url":"https://api.github.com/users/wcriss44/events{/privacy}","received_events_url":"https://api.github.com/users/wcriss44/received_events","type":"User","site_admin":false},"repo":{"id":88211278,"name":"operationcode_slashbot","full_name":"wcriss44/operationcode_slashbot","owner":{"login":"wcriss44","id":24770046,"avatar_url":"https://avatars3.githubusercontent.com/u/24770046?v=4","gravatar_id":"","url":"https://api.github.com/users/wcriss44","html_url":"https://github.com/wcriss44","followers_url":"https://api.github.com/users/wcriss44/followers","following_url":"https://api.github.com/users/wcriss44/following{/other_user}","gists_url":"https://api.github.com/users/wcriss44/gists{/gist_id}","starred_url":"https://api.github.com/users/wcriss44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wcriss44/subscriptions","organizations_url":"https://api.github.com/users/wcriss44/orgs","repos_url":"https://api.github.com/users/wcriss44/repos","events_url":"https://api.github.com/users/wcriss44/events{/privacy}","received_events_url":"https://api.github.com/users/wcriss44/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/wcriss44/operationcode_slashbot","description":"Slack
        bot for handling slash commands","fork":true,"url":"https://api.github.com/repos/wcriss44/operationcode_slashbot","forks_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/forks","keys_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/keys{/key_id}","collaborators_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/teams","hooks_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/hooks","issue_events_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/issues/events{/number}","events_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/events","assignees_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/assignees{/user}","branches_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/branches{/branch}","tags_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/tags","blobs_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/git/refs{/sha}","trees_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/git/trees{/sha}","statuses_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/statuses/{sha}","languages_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/languages","stargazers_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/stargazers","contributors_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/contributors","subscribers_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/subscribers","subscription_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/subscription","commits_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/commits{/sha}","git_commits_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/git/commits{/sha}","comments_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/comments{/number}","issue_comment_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/issues/comments{/number}","contents_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/contents/{+path}","compare_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/compare/{base}...{head}","merges_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/merges","archive_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/downloads","issues_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/issues{/number}","pulls_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/pulls{/number}","milestones_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/milestones{/number}","notifications_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/labels{/name}","releases_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/releases{/id}","deployments_url":"https://api.github.com/repos/wcriss44/operationcode_slashbot/deployments","created_at":"2017-04-13T22:24:28Z","updated_at":"2017-04-13T22:24:29Z","pushed_at":"2017-04-21T16:45:21Z","git_url":"git://github.com/wcriss44/operationcode_slashbot.git","ssh_url":"git@github.com:wcriss44/operationcode_slashbot.git","clone_url":"https://github.com/wcriss44/operationcode_slashbot.git","svn_url":"https://github.com/wcriss44/operationcode_slashbot","homepage":null,"size":4623,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"OperationCode:master","ref":"master","sha":"933f4774321290f296af2aad84f23dab511e36d7","user":{"login":"OperationCode","id":10479364,"avatar_url":"https://avatars3.githubusercontent.com/u/10479364?v=4","gravatar_id":"","url":"https://api.github.com/users/OperationCode","html_url":"https://github.com/OperationCode","followers_url":"https://api.github.com/users/OperationCode/followers","following_url":"https://api.github.com/users/OperationCode/following{/other_user}","gists_url":"https:/[...]
