---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/some_random_id/Services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer keyZCwmaMvZvNLULQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d37-xbI9rEmcZEiYQS6Mir5HR5rgFzo"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"rec891lUSSaXM4qGC","fields":{"Name":"Code Review","Description":"Have
        a mentor look over a PR, code exercise or software architecture","Mentors":["rec4NcE40T6yjw8x3","recfJUD5dQPi1VRiD","rec7I8GHor7255IXx","recfJ655S8vCOX1YA","recMYLAjJT9QSowwg","recMM9f8mfIR8ep3m","recQzv04p1ic50adc","recA8B5IxMLDw0hjT","recZajJGiMN5vmTNN","rece6hFo7V8kmTttM","reckhTmBUEpiQH8eZ"],"Mentor
        Request":["recMAtFD28bfgdvjg","recqPcCumJ82y8B93"],"Mentor Skills":["reclVU8noyTQdOE8q","reczLdfr8jgp64jUX","recXggWFITAKqOXOS","rec6iUbODfgKDibC8","rec7fealvRlndRKSu","rec0zpgyDSMTPNVAW"],"Mentor
        Count":11},"createdTime":"2017-03-05T19:09:58.000Z"},{"id":"recPWiTxBGjeyP30z","fields":{"Name":"General
        Guidance - Slack Chat","Description":"Chat 1 on 1 with a mentor via slack
        chat","Mentors":["rec4NcE40T6yjw8x3","recfJUD5dQPi1VRiD","rec7I8GHor7255IXx","recMYLAjJT9QSowwg","recMM9f8mfIR8ep3m","recQzv04p1ic50adc","rec2PKmnwIW1AxJXI","recA8B5IxMLDw0hjT","recZajJGiMN5vmTNN","recwE6lGzqT0dmVrg","rece6hFo7V8kmTttM","reckhTmBUEpiQH8eZ"],"Mentor
        Skills":["rec0zpgyDSMTPNVAW","reclVU8noyTQdOE8q","reczLd[...]
