---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/some_random_id/Services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_random_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1905-MIKFMHVdDXjLEi25UpV9coUOiKs"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"rec3ZQMCQsKPKlE2C","fields":{"Name":"Mock Interview","Description":"Have
        one of our mentors conduct a mock coding interview.","Mentors":["recGp2dytDt32ojl6","recRlWEzlSS7xPcMD","recoAB9NcDwlBgHkj","recooZOCPZ5mR6ARp","recBM9iaLwaAee4BQ"],"Mentor
        Request":["recPM75fIOPfXR51m","recFzUhBO0KY496hy","recpIo6InoCqCKznj","recPRPi6IzrcHPSfR","recJ3q5zTOccP0Wnt","recgvmUOrfbP73wI5","recPr5qFiMDGc9624"],"Mentor
        Skills":["recbn3OVB3DUPWuI0","recIUKKi6ZDfmamqb","recJR4JPYBISWJVGx"],"Mentor
        Count":5,"Mentee Requests":0},"createdTime":"2017-03-05T19:10:07.000Z"},{"id":"recKLRUolCxsvWBuF","fields":{"Name":"Code
        Review","Description":"Have a mentor look over a PR, code exercise or software
        architecture","Mentors":["recGp2dytDt32ojl6","recRlKczGAcNKN26G","recJkYfbRbuxOXTLA","recRlWEzlSS7xPcMD","recoAB9NcDwlBgHkj","recooZOCPZ5mR6ARp","recsblzySLFHOSl1f","reccKrEc0w88fSs7W","recBM9iaLwaAee4BQ","recQI7eSAFvP5LEhP"],"Mentor
        Request":["recvhYWculzcAxvi2","recP93VUeYeyhrNVz","recvJu22zZ4xy5FGs","recAF7yKRfpfHjr[...]
