---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/some_random_id/Mentor%20Request
    body:
      encoding: UTF-8
      string: '{"fields":{"Slack User":"test_case_1","Service":["rec891lUSSaXM4qGC"],"Email":"test@example.com","Skillsets":["Java"],"Additional
        Details":"Some test description.","Mentor Requested":["recqeVhDDJU5cY8TX"]}}'
    headers:
      Authorization:
      - Bearer keyZCwmaMvZvNLULQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"138-KKUjxVDOWd7tv9LgEXtE8ftGIZo"
    body:
      encoding: UTF-8
      string: '{"id":"recurURSzp8YEBXLA","fields":{"Slack User":"test_case_1","Service":["rec891lUSSaXM4qGC"],"Email":"test@example.com","Skillsets":["Java"],"Additional
        Details":"Some test description.","Mentor Requested":["recqeVhDDJU5cY8TX"],"Created
        At":"2018-08-13T17:28:11.000Z"},"createdTime":"2018-08-13T17:28:11.032Z"}'
  recorded_at: Mon, 13 Aug 2018 17:28:11 GMT
recorded_with: VCR 3.0.3
