---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=41153&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Montrouveau",
                       "short_name" : "Montrouveau",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Loir-et-Cher",
                       "short_name" : "Loir-et-Cher",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Centre-Val de Loire",
                       "short_name" : "Centre-Val de Loire",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "France",
                       "short_name" : "FR",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "41800",
                       "short_name" : "41800",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "41800 Montrouveau, France",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.728975,
                          "lng" : 0.7549089
                       },
                       "southwest" : {
                          "lat" : 47.682182,
                          "lng" : 0.6747409999999999
                       }
                    },
                    "location" : {
                       "lat" : 47.71422099999999,
                       "lng" : 0.7277720000000001
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.728975,
                          "lng" : 0.7549089
                       },
                       "southwest" : {
                          "lat" : 47.682182,
                          "lng" : 0.6747409999999999
                       }
                    }
                 },
                 "place_id" : "ChIJdT0GOA0h40cR7j4zC6u71vI",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 Mar 2018 23:30:10 GMT
[...]
