---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=62149&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Boisdinghem",
                       "short_name" : "Boisdinghem",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pas-de-Calais",
                       "short_name" : "Pas-de-Calais",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Hauts-de-France",
                       "short_name" : "Hauts-de-France",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "France",
                       "short_name" : "FR",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Boisdinghem, France",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 50.758335,
                          "lng" : 2.114588
                       },
                       "southwest" : {
                          "lat" : 50.7402379,
                          "lng" : 2.073586
                       }
                    },
                    "location" : {
                       "lat" : 50.7497929,
                       "lng" : 2.096126
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 50.758335,
                          "lng" : 2.114588
                       },
                       "southwest" : {
                          "lat" : 50.7402379,
                          "lng" : 2.073586
                       }
                    }
                 },
                 "place_id" : "ChIJdzln54NR3EcRzRQOejzHfmI",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 Mar 2018 23:26:47 GMT
recorded_with: VCR 3.0.3
